p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdinfo {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #94D2BE;
}

.rmdwarning {
  padding: 1em 1em 1em 10em;
  margin-bottom: 10px;
  background: #B4656F 5px center/9em no-repeat;
}

.rmdwarning {
  background-image: url("../images/warning.jpg");
}

.rmddetail {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #EACC7C;
}


.info {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #94D2BE;

}

.warning {
  padding: 1em 1em 1em 10em;
  margin-bottom: 10px;
  background: #B4656F 5px center/9em no-repeat;
}

.warning {
  background-image: url("../images/warning2.jpg");
}

.detail {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #EACC7C;
}

